.logo{
    width: 10%;
    height: 10%;
    margin-right: 50px;
    margin-top: 10px;

}
.me-auto{
    text-align: center;
    margin-right: 20px;
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    
}

