body {
  margin: 0;
  padding: 0;
}
.container-botao{
  display: flex;
  justify-content: center;
}
.botao{
  background-color: black;
  color: white;
  padding: 20px;
  max-width: 20%;
  border-radius: 10px;
  font-size: 16pt;
}