:root{
  --marromClaro: #bf7e3d;
  --bege: #edbc86;
  --marrom: #854404;
  --marromMedio: #ab7851;
  --azul: #b7dae0;
}

body {
  margin: 0;
  padding: 0;
}
.container-botao{
  display: flex;
  justify-content: center;
}
.botao{
  background-color: var(--marrom);
  color: white;
  padding: 20px;
  max-width: 20%;
  border-radius: 10px;
  font-size: 16pt;
}